html, body {
  color: #f5f5f5;
  font-family: 'Raleway', sans-serif;
  min-width: 100%;
}

body, .page-wrap, .container-fluid {
  min-width: 100%;
  overflow: scroll;
  overflow-x: hidden;
  margin: 0;
}

.container-fluid {
  padding: 0;
}
#frontPage {
  background-color: #ab9850;
}


.btn-large {
  background: #171717;
  color: #ab9838;
}

.btn-large:hover {
  background: #262626;
}


button:focus {
  background-color: transparent;
}

/*
 * NAVIGATION
 */

.drawer-hamburger-icon, .drawer-hamburger-icon:before, .drawer-hamburger-icon:after {
  background-color: #d2d2d2;
}

.drawer-hamburger-icon:focus {
  background-color: #d2d2d2;
}



.drawer-nav {
  background-color: rgb(23, 23, 23);
  color: #ab9850;
  padding-top: 12px;
}


.drawer-brand {
  font-size: 3em;
  font-weight: 500;
}

/*.drawer-menu {
  margin-top: 35px;
}*/

.drawer-menu-item {
  font-size: 2.6em;
  font-weight: 500;
}

.drawer-brand, .drawer-menu-item {
  font-family: 'Raleway', sans-serif;
  color: #ab9850;
  transition: color .4s ease-out;
  font-weight: 600;
}

.drawer-menu-item:focus, .drawer-menu-item:hover {
  color: rgb(102, 102, 102);
  text-decoration: none;
}

a:hover, a:focus {
  color: rgb(102, 102, 102);
}

nav ul {
  padding-top: 18px;
}

nav ul li {
  padding: 8px;
}

nav ul li a {
  text-align: center;

>>>>>>> exp
}

nav ul a:hover {
  background-color: transparent;
}

/*JUMBOTRON*/
.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0;
}

.jumbotron {
  background-color: transparent;
  margin-bottom: 0;
  padding-bottom: 250px;
  text-align: center;

}

.mainTitle {
  margin: 7% 0 25% 0;
  text-align: center;
}

.jumbotron h1.homePageTitle {
  color: #fff;
  text-align: center;
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-shadow: 4px 3px 0 rgb(32, 32, 32);
  font-size: 8em;
}

.jumbotron p {
  font-size: 2em;
  font-family: 'Raleway', sans-serif;
  font-weight: 300;
}

strong {
  font-weight: 700;
}

#title {
  margin-top: 8em;
  margin-bottom: 3em;
}

#particles-js {
  width:100%;
  height:100%;
  position: absolute;
  top: 0;
  left:0;
}


/*SKILLS SECTION*/

section {
	position: relative;
	background: black;
	color: #eee;
  overflow-x: hidden;

}

.col-3.column {
	padding: 0 1%;
	width: 33%;
	text-align: center;
}

.column {
	display: inline-block;
	vertical-align: top;
}

section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
  box-sizing: border-box;
  margin: 0;
}

.ss-style-doublediagonal {
	z-index: 1;
	background: #545454;
  box-sizing: border-box;
}

.ss-style-doublediagonal::before,
.ss-style-doublediagonal::after {
  overflow-x: hidden;
	top: 0;
	left: -25%;
	z-index: -1;
	width: 150%;
	height: 75%;
	background: inherit;
	transform: rotate(-2deg);
	transform-origin: 0 0;
}

.ss-style-doublediagonal::before {
	height: 50%;
	background: transparent;
	transform: rotate(-3.2deg);
	transform-origin: 3% 0;
}

.aboutMe-container {
  margin: 0;
  padding: 3em;
  padding-bottom: 7em;
  background-color: rgb(23, 23, 23);

}

.aboutMe {
  min-height: 100%;
  overflow: initial;
}


a:focus, a:hover {
  text-decoration: none;

}

.about-div {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  margin: auto;
  padding: 10px 15px;
  line-height: 2em;
}

.about-div > h1 {
  font-family: 'Raleway', sans-serif;
  font-weight: 500;
  text-align: center;
  margin: 0;
  color: #fff;
}

.info-div {
  background-color:rgba(23, 23, 23, 0.6);
  overflow:hidden;
  border-radius:3px;
  padding:28px 8px;
}
#skills-container {
  padding:1em 0;
  padding-bottom:5em;
  color: rgb(32, 32, 32);
}
.progress {
  height: 15px;
  border: 2px solid #ab9850;
  background: #fff;
}
/*#ab9850*/

.progress-bar {
  background:#ab9850;
}

.recentWork-container {
    overflow-y: hidden;
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    margin-bottom: -20px;
    padding: 3em;
    padding-bottom: 7em;
    color:rgb(150,0,0);
    background-color: rgb(171, 152, 80);
}

#work {
  rgba(171,152,56,.65);
}

#thumbnail {
  padding: 1.2em 0;
}

img {
  width: 100%;
}

#techKingdom {
  color: white;
}
#techKingdom:hover {
  text-decoration: none;
  color: white;
}

.work-container {
  overflow: hidden;
}

.work-hover {
  position:absolute;
  width:100%;
  opacity: 0;
  transition: opacity, 0.2s;
}

.work-hover:hover {
  opacity: 1;
}

.workBox {
  background: rgb(32, 32, 32);
}

.glyphicon {
  position:absolute;
  top:50%;
  left: 50%;
  margin-left: -12px;
  margin-top: -12px;
  color: #ab9850;
}

i {
  padding-right: 10px;
  transition-property: color;
  transition-duration: 0.6s;
}

i:hover {
  color: rgb(171, 152, 56);
}

.social_Links {
  display: inline;
}


/*MOBILE SM-MD SIZE PORTRAIT*/

@media (max-width: 413px) and (min-width: 260px){

  .container-fluid#frontPage {

    background-size: 400%;
    background-position: -425px 0px;
  }


  .mainTitle {
    margin: 45% 0;
  }

  .jumbotron {
    padding-bottom: 16em;
  }

  .jumbotron h1.homePageTitle  {
    font-size: 3.6em;
  }

  .jumbotron p {
    font-size: 1.6em;
  }

  #title {
    margin-top: 2em;
  }


  .aboutMe-container {
    height: 545px;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 105em;
  }

  .about-div {
    min-height: 100%;
    padding: 5px 0;
    padding-top: 20px;
  }

  .about-div > h1 {
    font-size: 3.3em;
  }

  h1.me {
    font-size: 1.6em;
  }

  h2.me {
    font-size: 1.2em;
  }

  .tabs {
    overflow: none;
  }

  .tabs .tab a {
    font-size: 1em;
  }

  .skills-right {
    padding-left: 10%;
  }

  span {
    font-size: 1em;
  }
}

/*MOBILE SCREEN LANDSCAPE*/

@media (min-width: 568px) and (max-width: 736px) {

  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin: 0;
  }

  .container-fluid#frontPage {
    background-size: 200%;
    background-position: -100px -125px;
    background-repeat: no-repeat;
  }

  .mainTitle {
    margin:55px 10px;
    margin-left: 0;
    margin-top: 75px;
  }

  .jumbotron {
    padding-bottom: 17em;
  }

  .jumbotron h1.homePageTitle  {
    font-size: 3.8em;
  }

  .aboutMe-container {
    padding-bottom: 6em;
  }

  .tabs .tab a {
    font-size: 3.444em;
    color: white;
  }

  .tabs .tab a {
    font-size: 3.444em;
    color: white;
  }

  .about-div {
    font-size: 0.7em;
  }


  #skills {
    font-size: 1.8em;
  }

  ul li{
    padding: 4.5px 0;
  }

  span {
    font-size: 3em;
    line-height: 2em;
  }

}

/*LARGE MOBILE PORTRAIT*/

@media (min-width: 414px) and (max-width: 534px) {

  .container-fluid#frontPage {
    background-size: 300%;
    background-attachment: fixed;
    background-position: -260px;
  }

  .jumbotron h1.homePageTitle  {
    font-size: 5em;
  }

  #title {
    margin-top: 1.5em;
  }

  .mainTitle {
    margin: 45% 0;
    margin-bottom: 25%;
  }

  .aboutMe-container {
    height: 100%;
    padding: 7em 25px;
    font-size: 0.5em;
    font-weight: 200;
  }

  #skills {
    background-color:rgba(23, 23, 23, 0.6);
    overflow:hidden;
    border-radius:3px;
    padding:28px 5px;
    font-size: 2em;
  }

  .skills-left, .skills-right {
    float: left;
    padding-left:9%;
  }


  ul li{
    padding: 4.5px 0;
  }

  span {
    font-size: 2em;
    line-height: 2em;
  }


}

/*IPAD PORTRAIT*/

@media (min-width: 767px) and (max-width: 772px) {


  .container-fluid#frontPage {
    background-size: 230% auto;
    background-size: cover;
    background-position: -80px 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .jumbotron {
    padding-bottom: 44em;
  }

  #title {
    margin-top: 18em;
  }

  .mainTitle {
    margin: 45% 0;
    margin-bottom: 25%;
  }

  .aboutMe-container {
    padding: 0.5em 0;
    padding-bottom: 6em;
  }

  .aboutMe {
    padding-top: 60px;
  }

  #skills {
    font-size: 1.6em;
  }

  .skills-left {
    padding-left:10%;
  }

  .skills-right {
    padding-left: 10%;
  }

  ul li{
    padding: 3.5px 0;
  }

  span {
    font-size: 2em;
    line-height: 2em;
  }

}


/*NEXUS 6P LANDSCAPE*/

@media (min-width:773px) and (max-width: 774px) {

  .navbar-inverse {
    background: transparent;
  }


  .container-fluid#frontPage {
    background-size: 100%;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .mainTitle {
    margin: 0;
  }


  .aboutMe {
    padding-top: 60px;
  }
  #skills {
    font-size: 1.6em;
  }

  .skills-left {
    padding-left:10%;
  }

  .skills-right {
    padding-left: 10%;
  }

  ul li{
    padding: 3.5px 0;
  }

  span {
    font-size: 1.7em;
    line-height: 2em;
  }

}

/*TABLET LANDSCAPE*/

@media (min-width: 776px) and (max-width: 1439px) {

  .container-fluid#frontPage {
    background-size: cover;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .mainTitle {
    margin: 15% 0;
    margin-bottom: 25%;
    margin-right: 10%;
    margin-left: 10%;
  }

  .aboutMe-container {

    padding: 0.5em 0;
    padding-bottom: 6em;

  }

  #skills {
    font-size: 1.6em;
  }

  .skills-left {
    padding-left:10%;
  }

  .skills-right {
    padding-left: 10%;
  }

  ul li{
    padding: 3.5px 0;
  }

  span {
    font-size: 1.7em;
    line-height: 2em;
  }


}


/*LAPTOP OR COMPUTER SCREEN*/
@media (min-width: 1440px) {



.container-fluid#frontPage {
  background-size: 100%;
  background-position: 0px 0px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.jumbotron {
  padding-bottom: 300px;
}

.aboutMe-container {
  padding: 6em 0;
  padding-bottom: 10em;
}

.aboutMe {
  padding-top: 100px;
}

.tabs .tab a {
  font-size: 3em;
  color: white;
}

#skills {
  font-size: 2.5em;
}

.skills-left {
  padding-left:10%;
}

.skills-right {
  padding-left: 10%;
}

ul li{
  padding: 10.5px 0;
}

span {
  font-weight: 200;
  font-size: 2.7em;
  line-height: 2em;
}


}
