html, body {
  min-height: 100%;
  min-width: 100%;
  overflow-x: hidden;
  color: #f5f5f5;
  font-family: 'Nobile', sans-serif;
}

.container-fluid {
  padding: 0;
}
.container-fluid#frontPage {
  background-image: url("images/Toronto_Skyline_Through_Island.jpg");
  background-size: cover;
  background-repeat: no-repeat;
}
.navbar {
  border-radius: 0;
  margin-bottom: 0;
}
.navbar-inverse .navbar-nav>li>a {
  transition: all 0.5s;
}

.navbar-inverse .navbar-nav>li>a:focus, .navbar-inverse .navbar-nav>li>a:hover {
  background-color: rgb(171, 152, 56);
}

.navLink {
  color: #f4eded;
  transition: color 1s ease;
  font-size: 2em;
  font-family:'Nabile', sans-serif;
  font-weight: 100;
  text-align: center;
}
.navLink:hover, .navLink:focus {
  color: #ffffff;
}

/*JUMBOTRON*/
.container .jumbotron, .container-fluid .jumbotron {
  border-radius: 0;
}

.jumbotron {
  min-height: 100vh;
  background-color: rgba(171, 152, 56, 0.65);
  margin-bottom: 0;
}

.mainTitle {
  margin: 13% 0 25% 0;
}

.jumbotron h1.homePageTitle {
  color: #fff;
  font-family: "Nobile", sans-serif;
  font-weight: 700;
  text-shadow: 4px 3px 0 rgb(32, 32, 32);
  font-size: 8em;
}

.jumbotron p {
  color: rgb(32, 32, 32);
}

/*SKILLS SECTION*/

section {
	position: relative;
	/*padding: 10em ;*/
	background: black;
	color: #fff;
}

.col-3.column {
	padding: 0 1%;
	width: 33%;
	text-align: center;
}

.column {
	display: inline-block;
	vertical-align: top;
}

section::before,
section::after {
	position: absolute;
	content: '';
	pointer-events: none;
}

.ss-style-doublediagonal {
	z-index: 1;
	/*padding-top: 6em;*/
	background: rgb(32, 32, 32);
}

.ss-style-doublediagonal::before,
.ss-style-doublediagonal::after {
	top: 0;
	left: -25%;
	z-index: -1;
	width: 150%;
	height: 75%;
	background: inherit;
	transform: rotate(-2deg);
	transform-origin: 0 0;
}

.ss-style-doublediagonal::before {
	height: 50%;
	background: #fff;
	transform: rotate(-3deg);
	transform-origin: 3% 0;
}

.aboutMe-container {
  height: 100vh;
  margin: 0;
  padding: 3em;
  padding-bottom: 7em;
  background-image: url("../images/leo.jpg");
  background-repeat: no-repeat;
  background-size: cover;
}

.tabs .tab a {
  font-size: 2em;
  color: white;
}

.tabs .tab a:hover {
  color: rgb(171, 152, 56);
}

a:focus, a:hover {
  text-decoration: none;

}

.tabs .indicator {
  background-color: rgb(171, 152, 56);
}

.blackTint {
  margin-bottom: -20px;
}

.about-div {
  margin: auto;
  padding: 10px 15px;
  line-height: 2em;
}

.about-div > h1 {
  font-family: 'Nobile', sans-serif;
  font-weight: 700;
  text-align: center;
  margin: 0;
  color: #fff;
  text-shadow: 4px 3px 0 #202020;
}

span {
  font-size: 1.5em;
}

.recentWork-container {
    min-height: 100%;
    min-width: 100%;
    margin: 0;
    padding: 3em;
    padding-bottom: 7em;
    color:rgb(150,0,0);
    background-color: rgb(171, 152, 80);
}

img {
  width: 100%;
}

#techKingdom {
  color: white;
}
#techKingdom:hover {
  text-decoration: none;
  color: white;
}

.hoverDiv {
  opacity:0;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.85);
  min-width: 100%;
  min-height: 100%;
  z-index: 1;

  transition-property: opacity;
  transition-duration: 0.3s;
  transition-timing-function: ease-out;

}

i {
  padding-right: 10px;
  transition-property: color;
  transition-duration: 0.6s;
}

i:hover {
  color: rgb(171, 152, 56);
}


/*MOBILE SM-MD SIZE PORTRAIT*/

@media (max-width: 413px) and (min-width: 260px){

  .container-fluid#frontPage {

    background-size: auto;
    background-position: -626px -300px;
  }

  .mainTitle {
    margin: 45% 0;
  }

  .jumbotron h1.homePageTitle  {
    font-size: 3.6em;
  }


  .aboutMe-container {
    height: 100vh;
    padding-left: 0;
    padding-right: 0;
    padding-bottom: 0;
    background-size: cover;
    background-position: -250px;
  }

  .about-div {
    padding: 5px 0;
    padding-top: 20px;
  }

  .about-div > h1 {
    font-size: 3.3em;
  }

  h1.me {
    font-size: 1.6em;
  }

  h2.me {
    font-size: 1.2em;
  }

  .tabs {
    overflow: none;
  }

  .tabs .tab a {
    font-size: 1em;
  }

  span {
    font-size: 1em;
  }
}

/*MOBILE SCREEN LANDSCAPE*/

@media (min-width: 568px) and (max-width: 736px) {

  .container-fluid>.navbar-collapse, .container-fluid>.navbar-header, .container>.navbar-collapse, .container>.navbar-header {
  margin: 0;
  }

  .container-fluid#frontPage {
    background-size: cover;
    background-repeat: no-repeat;
  }

  .mainTitle {
    margin:55px 10px;
    margin-left: 0;
    margin-top: 75px;
  }

  .jumbotron h1.homePageTitle  {
    font-size: 3.8em;
  }

  .aboutMe-container {
    height: auto;
  }

  .about-div {
    font-size: 0.7em;
  }

  span {
    font-size: 2em;
    line-height: 2em;
  }

}

/*LARGE MOBILE PORTRAIT*/

@media (min-width: 414px) and (max-width: 435px) {

  .container-fluid#frontPage {
    background-attachment: fixed;
    background-position: -220px 50px;
  }

  .jumbotron h1.homePageTitle  {
    font-size: 5em;
  }

  .mainTitle {
    margin: 45% 0;
    margin-bottom: 25%;
  }

  .aboutMe-container {
    height: 100vh
    padding:5px;
    padding-top: 7em;
    font-size: 0.5em;
    background-attachment: fixed;
    background-position: -450px;
  }

  span {
    font-size: 2em;
    line-height: 2em;
  }


}

/*IPAD OR TABLET SCREEN*/

@media (min-width:768px) and (max-width: 1023px) {


  .container-fluid#frontPage {
    background-size: 230% auto;
    background-size: cover;
    background-position: -80px 0px;
    background-attachment: fixed;
    background-repeat: no-repeat;
  }

  .mainTitle {
    margin: 45% 0;
    margin-bottom: 25%;
  }

  .aboutMe-container {
    background-position: -450px -30px;
    background-attachment: fixed;
    padding: 0;
  }

  .aboutMe {
    padding-top: 60px;
  }

  span {
    font-size: 2em;
    line-height: 2em;
  }

}


/*LAPTOP OR COMPUTER SCREEN*/
@media screen and (min-width: 1024px) {


.navLink {
  font-size: 1em;
}

.container-fluid#frontPage {
  background-size: 140% auto;
  background-position: 0px 0px;
  background-attachment: fixed;
  background-repeat: no-repeat;
}

.aboutMe-container {
  background-size: cover;
  background-attachment: fixed;
  padding: 0;
}

.aboutMe {
  padding-top: 100px;
}

span {
  font-size: 2em;
  line-height: 2em;
}

}
